<!DOCTYPE html>
<div class="container">

    <div class="jumbotron" id="jumbo">
        <h1 class="text-center">Can I Take Your Order?</h1>
        <hr>
        <h2 class="text-center">All Types of Burgers!</h2>
        <h2 class="text-center">Any Way You Want It!</h2>
        <br>

    </div>
</div>
<ul>
  {{#each burgers}}
    {{#unless this.sleepy}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#if this.sleepy}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="false">
          <button type="submit">WAKE UP!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Hungry?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Hungry!<br>
    <input type="radio" name="sleepy" value="0"> Full
  </div>

  <button type="submit">Add Burger</button>
</form>
